@import '../../styles/variables.scss';

.dropdownMainContainer
{
    width: 80%;
    height: 60px;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid $main-black;
    background-color: white;
    transition: all 400ms ease-in-out;
    .header
    {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-bottom: 2px solid white;
        position: relative;
        span 
        {
            font-weight: 500;
            font-size: 20px;
            color: $main-black;
        }
        img
        {
            width: 15px;
            position: absolute;
            top: 20px;
            right: 10px;
            transform: rotate(90deg);
            transition: all 400ms ease-in-out;
        }
    }
    .body
    {
        width: 100%;
        height: 280px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 20px 20px;
        background-color: $main-black;
        p 
        {
            color: white;
        }
        button
        {
            width: 60%;
            height: 50px;
            border-radius: 10px;
            text-align: center;
            background-color: white;
            border: 2px solid white;
            color: $main-black;
            font-weight: 700;
            font-size: 16px;
        }
    }
}

.modalContainer
{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    @media (max-width: 1000px)
    {
        z-index: 3;
    }
    .modalBody
    {
        width: 60%;
        height: 400px;
        background-color: $main-black;
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border: 2px solid $main-yellow;
        transition: all 400ms ease-in-out;
        @media (max-width: 1000px)
        {
            width: 80%;
            height: 70vh;
            padding: 50px 20px;
            overflow: scroll;
        }
        img
        {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            cursor: pointer;
            border-radius: 50%;
            transition: all 400ms ease-in-out;
            @media (max-width: 1000px)
            {
                border: 2px solid $main-yellow;
            }
            &:hover
            {
                border: 2px solid $main-yellow;
            }
        }
        span
        {
            font-size: 30px;
            color: $main-yellow;
            @media (max-width: 1000px)
            {
                text-align: center;
            }
        }
        p
        {
            text-align: center;
            margin: 30px 0 0 0 ;
            color: white;
            font-weight: 300;
        }
    }
}
