@import '../../styles/variables.scss';

.footerContainer
{
    width: 100%;
    height: auto;
    background-color: $main-yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    p
    {
        color: white;
        font-size: 20px;
        transition: all 400ms ease-in-out;
        font-weight: 300;
        &.phone
        {
            &:hover 
            {
                color: $main-black;
            }
        }
    }
    .mailContainer
    {
        width: fit-content;
        padding: 15px 15%;
        border: 1px solid white;
        p
        {
            color: $main-black;
            margin: 0;
            transition: all 400ms ease-in-out;
            &:hover 
            {
                color: white;
            }
        }
    }
    .iconsContainer
    {
        width: 70%;
        height: auto;
        border-top: solid 1px $main-black;
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 15px 0;
        .icon
        {
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50%;
            padding: 10px;
            transition: all 400ms ease-in-out;
            &:hover 
            {
                background-color: $main-black;
            }
            img 
            {
                width: 100%;
            }
        }
    }
}