@import '../../styles/variables.scss';

.mainContactContainer
{
    width: 100%;
    height: 600px;
    background-color: $main-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url('../../public/assets/images/contact-background.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    .contactAnchor
    {
        width: 0;
        height: 0;
        position: absolute;
        top: -70px;
        left: 0;
    }
    h2
    {
        color: $main-yellow;
        font-size: 40px;
        margin: 30px 0;
        font-family: 'Lemon Days';
        @media (max-width: 1000px)
        {
            text-align: center;
        }
    }
    form
    {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 10px;
        @media (max-width: 1000px)
        {
            width: 70%;
        }
        input 
        {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            border: 2px solid $main-yellow;
            margin: 0 0 10px 0;
            padding: 0 0 0 10px;
            transition: all 400ms ease-in-out;
            &:focus
            {
                outline: none;
            }
        }
        select 
        {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            border: 2px solid $main-yellow;
            margin: 0 0 10px 0;
            padding: 0 0 0 10px;
            transition: all 400ms ease-in-out;
            &:focus
            {
                outline: none;
            }
        }
        span
        {
            color: $main-yellow;
        }
        button
        {
            width: 60%;
            height: 50px;
            background-color: $main-yellow;
            border-radius: 10px;
            color: white;
            transition: all 400ms ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            margin: 30px auto 0 auto;
            font-weight: 700;
            font-size: 20px;
            cursor: pointer;
            @media (max-width: 1000px)
            {
                width: 90%;
            }
            &:hover
            {
                background-color: $main-black;
                border: 2px solid $main-yellow;
            }
        }
        .participantsContainer
        {
            width: 100%;
            height: auto;
            display: flex;
            gap: 10px;
        }
    }
}