@import '../../styles/variables.scss';

.mainServicesContainer
{
    width: 100%;
    height: auto;
    background-color: $main-yellow;
    padding: 0 0 30px 0;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (max-width: 1000px)
    {
        padding: 0 20px 30px 20px;
    }
    background-image: url('/assets/icons/joystick-icon.png'), url('/assets/icons/joystick-icon.png'), url('/assets/icons/joystick-icon.png'), url('/assets/icons/music-icon.png'), url('/assets/icons/music-icon.png'), url('/assets/icons/music-icon.png'), url('/assets/icons/star-icon.png'), url('/assets/icons/star-icon.png'), url('/assets/icons/brush-icon.png') ;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left 15% top 270px, right 10% bottom 240px, top 30px right 10%, bottom 50px left 13%, top 190px right 14%, bottom 200px left 1%, top 50% right 18%, center bottom 20px, top 55%  left 45%;
    >.animatedIcon
    {
        width: 30px;
        height: auto;
        position: absolute;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &.brush
        {
            animation-name: linealMove;
        }
        &.star
        {
            animation-name: rotate;
        }
    }
    .servicesAnchor
    {
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: -70px;
    }
    h2
    {
        color: $main-black;
        font-size: 40px;
        margin: 30px 0;
        font-family: 'Lemon Days';
    }
    .servicesGrid
    {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @media (max-width: 1000px)
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}

@keyframes linealMove {
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes rotate {
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}