@import '../../styles/variables.scss';

.mainServicesContainer
{
    width: 100%;
    height: auto;
    background-color: $main-yellow;
    padding: 0 0 30px 0;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (max-width: 1000px)
    {
        padding: 0 20px 30px 20px;
    }
    >.animatedIcon
    {
        width: 30px;
        height: auto;
        position: absolute;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &.brush
        {
            animation-name: brush;
        }
        &.joystick
        {
            animation-name: joystick;
        }
        &.star
        {
            animation-name: joystick;
        }
        &.music
        {
            animation-name: music;
        }
    }
    .servicesAnchor
    {
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: -70px;
    }
    h2
    {
        color: $main-black;
        font-size: 40px;
        margin: 30px 0;
        font-family: 'Lemon Days';
    }
    .servicesGrid
    {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @media (max-width: 1000px)
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}

@keyframes brush {
    50%{
        left: 20px;
    }
    100%{
        left: 30px;
    }
}

@keyframes joystick {
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes music {
    50%{
        right: 50px;
    }
    100%{
        right: 60px;
    }
}